:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin: 1em;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  border-color: #646cff81;
}


button:disabled {
  background-color: #1a1a1a;
  color: #646cff81;
  cursor: not-allowed;
}

.small-button {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

button:hover {
  border-color: #646cff;
}

button:active {
  border-color: #535bf2;
}

button:focus,
button:focus-visible {
  border-color: #64afff; 
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
  border-color: #646cff81;
  vertical-align: middle;
}

label {
  vertical-align: middle;
}

input:hover {
  border-color: #646cff;
}

input:focus,
input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

th,
td {
  padding: 0.2em 1.2em;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.slider-container label {
  flex: 1;
  text-align: left;
}

.slider-container input {
  flex: 3;
  margin-left: 10px;
}

.slider-container span {
  width: 50px;
  text-align: right;
  margin-right: 10px;
}
